<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PTP</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .bg-black{
            background-color: #111827;
        }
    </style>
</head>
<body class="bg-slate-900 text-white ">
    <header class="text-white-600 body-font ">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-white-900 mb-4 md:mb-0">
            
            <span class="ml-3 text-4xl">PTP</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center cursor-pointer ">
            <a class="mr-5  text-xl hover:text-pink-600 mr-5 transition delay-150 ease-in-out hover:tracking-widest ">First Link</a>
            <a class="mr-5  text-xl hover:text-pink-600 mr-5 transition ease-in-out delay-150 hover:tracking-wide">Second Link</a>
            <a class="mr-5  text-xl hover:text-pink-600 mr-5 transition ease-in-out delay-150 hover:tracking-wide">Third Link</a>
            <a class="mr-5  text-xl hover:text-pink-600 mr-5 transition ease-in-out delay-150 hover:tracking-wide">Fourth Link</a>
          </nav>
          <button class="inline-flex items-center bg-pink-900 border-0 py-1 px-3 focus:outline-none text-xl hover:text-pink-600 hover:bg-white rounded text-base mt-4 md:mt-0">Sign Up
          </button>
        </div>
      </header>
</body>
</html>