<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex flex-col items-center justify-center h-screen">
        <h1 class="text-4xl font-bold text-center text-gray-700 dark:text-white">Unauthorized</h1>
        <p class="mt-3 text-gray-500 dark:text-black-100">You are not authorized to access this page. Please log in to access this page.</p>
        <a href="{{url_for('login')}}" class="mt-8 px-4 py-2 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50">Log in</a>
    </div>

</body>
</html>
